<footer>
  <div class="bg-dark p-3">
    <div class="container">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a
            class="nav-link text-white"
            [routerLinkActive]="['active']"
            [routerLink]="['new']"
            >Create New Task</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            [routerLinkActive]="['active']"
            [routerLink]="['list']"
            >View Task List</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
