<div>
  <div class="card">
    <div class="card-header">
      <h1>Create New Task</h1>
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="my-2 col-md-6">
            <label class="form-label fw-bold">Title</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter your task title"
            />
          </div>
          <div class="my-2 col-md-6">
            <label class="form-label fw-bold">Due date</label>
            <input type="datetime-local" class="form-control" />
          </div>
        </div>
        <div class="my-2">
          <label class="form-label fw-bold">Description</label>
          <textarea
            rows="3"
            class="form-control"
            placeholder="Enter your task description (optional)"
          ></textarea>
        </div>
        <button type="submit" class="btn my-2 btn-dark">Save task</button>
      </form>
    </div>
  </div>
</div>
